<!-- Navbar -->
<nav class="navbar navbar-fixed-top fixed-top navbar-purple bg-purple">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn p-0 pt-1"><i class="fa fa-bars text-warning fs-25" ng-click="showMenu()" id="open-navbar-left"></i></button>
        <a class="navbar-logo h4 mb-0 ml-3" href="#">{{ title }}</a>
    </div>
    <button class="btn btn-sm rounded-20 btn-warning text-white bold" id="btn-open-app">Open In App</button>
</nav>
<!-- Navbar Left -->
<div class="navbar-left bg-warning p-5">
    <div class="close-navbar-left">
        <button type="button" class="btn text-white p-0 mb-3" ng-click="closeMenu()" id="close-navbar-left"><i class="fa fa-times fs-25"></i></button>
    </div>
    <ul class="list-group">
        <li class="list-inline mb-2"><a href="./" class="bold">HOME</a></li>
        <li class="list-inline mb-2"><a href="" class="bold">FEATURES</a></li>
        <li class="list-inline mb-2"><a href="" class="bold">ABOUT</a></li>
    </ul>
    <hr class="border-white">
    <ul class="list-group">
        <li class="list-inline mb-2"><a href="" class="bold">CONTACT US</a></li>
        <li class="list-inline mb-2"><a href="" class="bold">FAQ</a></li>
        <li class="list-inline mb-2"><a href="" class="bold">TERMS & CONDITIONS</a></li>
        <li class="list-inline mb-2"><a href="" class="bold">INFORMATION</a></li>
    </ul>
    <hr class="border-white">
    <div class="list-inline text-center" role="group" aria-label="Basic example">
        <button type="button" class="btn text-white mr-1"><i class="fa fa-instagram fs-20"></i></button>
        <button type="button" class="btn text-white mr-1"><i class="fa fa-facebook fs-20"></i></button>
        <button type="button" class="btn text-white mr-1"><i class="fa fa-envelope fs-20"></i></button>
        <button type="button" class="btn text-white mr-1"><i class="fa fa-twitter fs-20"></i></button>
    </div>
</div>
<!-- Header -->
<div class="jumbotron jumbotron-fluid bg-white mb-0">
    <div class="container">
        <h4 class="text-purple bold">Aktifitas Lebih Mudah Dengan ZonaViz.</h4>
        <p class="">ZonaViz merupakan sebuah perusahan berbasis Teknologi yang memberikan sebuah solusi dalam melakukan banyak sesuatu yang masing jauh dari peran teknologi, seperti pesan makan, belanja, service, cetak dokumen dan aktifitas lainya.</p>
        <div class="group-download">
            <button class="btn btn-warning bold text-white"><i class="fa fa-google-store"></i>Dapatkan Aplikasi</button>
        </div>
    </div>
</div>
<!-- Produk -->
<div class="produk bg-purple pt-4 pb-4">
    <div class="container">
        <div class="title text-center">
            <h5 class="bold text-white mb-0">Produk Kami</h5>
        </div>
        <div class="row text-center pt-4 pr-2 pl-2">
            <div class="col mb-2 card border-white mr-1 ml-1 p-1">
                <span class="card border-white bg-purple rounded-circle text-center produk-image p-2 ml-auto mr-auto">
                    <a href="zonaprint/" class="center mt-3">
                        <span><i class="fa fa- fa-2x text-white"></i></span>
                        <h6 class="bold-700 text-white">ZonaPrint</h6>
                    </a>
                </span>
            </div>
            <div class="col mb-2 card border-white mr-1 ml-1 p-1">
                <span class="card border-white bg-purple rounded-circle text-center produk-image p-2 ml-auto mr-auto">
                    <a href="zonafood/" class="center mt-3">
                        <span><i class="fa fa- fa-2x text-white"></i></span>
                        <h6 class="bold-700 text-white">ZonaFood</h6>
                    </a>
                </span>
            </div>
            <div class="col mb-2 card border-white mr-1 ml-1 p-1">
                <div class="card border-white bg-purple rounded-circle text-center produk-image p-2 ml-auto mr-auto">
                    <a href="zonatech/" class="center mt-3">
                        <span><i class="fa fa- fa-2x text-white"></i></span>
                        <h6 class="bold-700 text-white">ZonaTech</h6>
                    </a>
                </div>
            </div>
            <div class="col-md-12 w-100"></div>
            <div class="col mb-2 card border-white mr-1 ml-1 p-1">
                <span class="card border-white bg-purple rounded-circle text-center produk-image p-2 ml-auto mr-auto">
                    <a href="#zonainfak/" class="center mt-3">
                        <span><i class="fa fa- fa-2x text-white"></i></span>
                        <h6 class="bold-700 text-white">ZonaInfak</h6>
                    </a>
                </span>
            </div>
            <div class="col mb-2 card border-white mr-1 ml-1 p-1">
                <span class="card border-white bg-purple rounded-circle text-center produk-image p-2 ml-auto mr-auto">
                    <a href="#zonapulsa/" class="center mt-3">
                        <span><i class="fa fa- fa-2x text-white"></i></span>
                        <h6 class="bold-700 text-white">ZonaPulsa</h6>
                    </a>
                </span>
            </div>
            <div class="col mb-2 card border-white mr-1 ml-1 p-1">
                <div class="card border-white bg-purple rounded-circle text-center produk-image p-2 ml-auto mr-auto">
                    <a href="#zonasend/" class="center mt-3">
                        <span><i class="fa fa- fa-2x text-white"></i></span>
                        <h6 class="bold-700 text-white">ZonaSend</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="deskripsi text-white text-center pt-4 pb-4">
            <h5>Nantikan Produk Lainnya</h5>
            <p>Produk akan selalu kami tambahkan sesuai kebutuhan kamu.</p>
        </div>
        <div class="lainnya text-center">
            <button class="btn btn-warning bold rounded-20 text-white">SELENGKAPNYA</button>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer text-center pt-4">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 mx-auto">
                <div class="card bg-purple text-white p-2">
                    <h6 class=""><i class="fa fa-phone"></i> +62-896-6567-0865</h6>
                    <p class="mb-0">Layanan 24 Jam | Senin - Minggu</p>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-inline">
        <li class="list-inline m-3"><a href="" class="text-dark">CONTACT US</a></li>
        <li class="list-inline m-3"><a href="" class="text-dark">FAQ</a></li>
        <li class="list-inline m-3"><a href="" class="text-dark">TERMS & CONDITIONS</a></li>
        <li class="list-inline m-3"><a href="" class="text-dark">INFORMATION</a></li>
    </ul>
    <div class="list-inline text-center" role="group" aria-label="Basic example">
        <button type="button" class="btn text-muted mr-1"><i class="fa fa-instagram fs-20"></i></button>
        <button type="button" class="btn text-muted mr-1"><i class="fa fa-facebook fs-20"></i></button>
        <button type="button" class="btn text-muted mr-1"><i class="fa fa-envelope fs-20"></i></button>
        <button type="button" class="btn text-muted mr-1"><i class="fa fa-twitter fs-20"></i></button>
    </div>
    <div class="copy p-2">
        <small class="text-muted">Copyright &copy; 2019 PT. Zonaviz Media Teknologi. All rights reserved.</small>
    </div>
</div>