<div class="pesan-detail">
    <div class="">
        <div class="col p-0" ng-repeat="list in menu | filter: {id:idProduk}">
            <div class="card">
                <div class="image">
                    <img src="{{ list.gambar }}" width="100%" height="auto" alt="">
                </div>
                <div class="detail p-3">
                    <h6 class="bold">{{ list.nama }}</h6>
                    <hr>
                    <label class="bold">Harga: <br><span class="">{{ list.harga | rupiah }}</span></label> <br>
                    <label class="bold">Ongkir: <br><span class="">{{ list.ongkir | rupiah }}</span></label> <br>
                    <div class="d-flex">
                        <div class="col p-0">
                            <div class="form-row">
                                <select class="custom-select" ng-model="jumlah">
                                    <option selected="" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="5">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col text-right p-0">
                            <label class="bold">Total: <br><span class="">{{ (list.harga * jumlah) + list.ongkir | rupiah }}</span></label>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="" class="btn btn-warning text-white">Add Chart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>