/**********************************************/
/*
	Project: zonaviz
	Author: Husein Assidiq (CEO COdeTings)
	Date Modified: 20:53 04 May 2019 (Saturday) 
	Version: 1.0
	Lesensi: MIT
*/
/*********************************************/
@font-face{
	font-family: 'Poopins';
	font-weight: 400;
	src: url('assets/font/Poppins/Poppins-Regular.ttf');
}
@font-face{
	font-family: 'Poopins';
	font-weight: 600;
	src: url('assets/font/Poppins/Poppins-SemiBold.ttf');
}
@font-face{
	font-family: 'Poopins Bold';
	font-weight: 700;
	src: url('assets/font/Poppins/Poppins-Bold.ttf');
}
body {
	font-family: 'Poopins',sans-serif;
	font-size: 14px;
}

.bg-purple {
	background-color: #563D7C;
}
.text-purple {
	color: #563D7C;
}
.navbar-purple {
	background-color: #563D7C;
}
.navbar-purple .navbar-logo {
	color: #ffffff;
	font-family: 'Poopins Bold',sans-serif;
	text-decoration: none;
}
.bold {
	font-weight: 600;
}
.bold-700 {
	font-family: 'Poopins Bold',sans-serif;
}
.rounded-20 {
	border-radius: 20px;
}
.fs-25 {
	font-size: 25px;
}
.fs-20 {
	font-size: 20px;
}
.relative {
	position: relative;
}
/* Navbar Left */
.navbar-left {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	transition-duration: 0.5s;
	z-index: 1100;
}
.navbar-left .list-inline a {
	text-decoration: none;
	color: #ffffff;
}
.navbar-left .list-inline a:hover {
	color: #DEDEDE;
}
.navbar-left .btn {
	box-shadow: none;
}
/* jumbotron */
.jumbotron,
.batas-top {
	margin-top: 50px;
}
/* Produk */
.produk-image {
	height: 110px;
	width: 110px;
	transition-duration: 0.5s;
}
.produk-image h6 {
	cursor: pointer;
}
.produk a:hover {
	text-decoration: none;
}
@media screen and (max-width: 400px){
	.produk-image {
		width: 85px;
		height: 85px;
	}
	.produk-image h6 {
		font-size: 12px;
		margin-top: -10px;
	}
}
.card.produk-image:hover {
	background-color: #674994;
	transition-duration: 0.5s;
	transform: scale(1.02);
	box-shadow: 0.5rem 1rem 2rem rgba(255,255,255, 0.2);
}

/* Footer */
.footer .list-inline a {
	text-decoration: none;
}
.footer .btn {
	box-shadow: none;
}

/* Navbar Bottom */
.navbar-fixed-bottom {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-fixed-bottom a {
	text-decoration: none;
	font-size: 14px;
}
.navbar-fixed-bottom p {
	font-size: 12px;
}
.navbar-fixed-bottom a:focus,
.navbar-fixed-bottom a:hover {
	color: inherit;
}
.border-top-purple {
	border-top: 2px solid rgba(86,61,124, 0.3);
}

/* Page Cetak ZonaPrint */
.form-control {
	font-size: inherit;
}
.batas-bawah {
	margin-bottom: 55px;
}

/* Zona Food */
.menu .image {
	height: 120px;
	width: 180px;
}
.menu .image img {
	width: 100%;
	height: 100%;
}
.menu .pesan {
	position: absolute;
	right: 16px;
	bottom: 0px;
}