<!-- Navbar -->
<nav class="navbar navbar-fixed-top fixed-top navbar-purple bg-purple">
    <div class="d-flex justify-content-between align-items-center">
        <a href="../" class="btn p-0 pt-1"><i class="fa fa-chevron-left text-warning fs-25" id="open-navbar-left"></i></a>
        <a class="navbar-logo h4 mb-0 ml-3" href="#">{{ title }}</a>
    </div>
    <button class="btn btn-sm rounded-20 btn-warning text-white bold" id="btn-open-app">Open In App</button>
</nav>
<!-- batas -->
<div class="batas-top"></div>
<!-- Form Cetak -->
<div class="container-fluid pt-3 pb-3">
    <div class="title pb-2 text-center">
        <h5 class="bold text-purple">Cetak</h5>
    </div>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="inputFullName">Nama Lengkap</label>
                <input type="text" class="form-control" ng-model="nama" id="inputAddress" placeholder="John Mania" required="">
            </div>
            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" ng-model="email" id="inputEmail4" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <label for="inputAddress">Alamat</label>
                <input type="text" class="form-control" ng-model="alamat" id="inputAddress" placeholder="Jl. Kenangan Indah" required="">
            </div>
            <div class="form-group">
                <label for="inputPhone">Nomor Telpon</label>
                <input type="text" class="form-control" ng-model="notelp" id="inputPhone" placeholder="+62" required="">
            </div>
            <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea class="form-control" ng-model="message" id="inputMessage" placeholder="Pesan Anda"></textarea>
            </div>
            <div class="form-group">
                <label for="inputFile"><small>Untuk File atau dokuman yang akan dicetak Silahkan Sertakan Setelah Melakukan Konfirmasi Melalui Whatsapp. Tekan Cetak Untuk Melanjutkan.</small></label>
            </div>
            <a href="https://wa.me/6281392939580?text=Nama%3A%20{{ nama }}%0AEmail%3A%20{{ email }}%0AAlamat%3A%20{{ alamat }}%0ANotlp%3A%20{{ notelp }}%0AMessage%3A%20{{ message }}%0AFile/Dokumen%3A%20Lampirkan" target="blank" ng-click="kirim()" class="btn btn-primary">Cetak</a>
        </form>
    </div>
</div>
<div class="batas-bawah"></div>
<!-- Navbar Bottom -->
<nav class="navbar navbar-fixed-bottom fixed-bottom bg-white navbar-light border-top-purple">
    <div class="col-sm-12 p-0 d-flex justify-content-between align-items-center">
        <div class="col-3 p-0 text-center ">
            <a href="#" class="text-purple">
                <i class="fa fa-home fs-20"></i>
                <p class="mb-0 mt-0">Home</p>
            </a>
        </div>
        <div class="col-3 p-0 text-center">
            <a href="#cetak" class="text-muted">
                <i class="fa fa-print fs-20"></i>
                <p class="mb-0 mt-0">Cetak</p>
            </a>
        </div>
        <div class="col-3 p-0 text-center">
            <a href="#order" class="text-muted">
                <i class="fa fa-bar-chart fs-20"></i>
                <p class="mb-0 mt-0">Order</p>
            </a>
        </div>
        <div class="col-3 p-0 text-center">
            <a href="#akun" class="text-muted">
                <i class="fa fa-user-o fs-20"></i>
                <p class="mb-0 mt-0">Akun</p>
            </a>
        </div>
    </div>
</nav>